
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a [routerLink]="['/home', {showDetail:false}]">Home</a></li>
        <li><a [routerLink]="['/flight-booking']">Book a flight</a></li>
        <li><a [routerLink]="['/bookings']">Your bookings</a></li>
    </ul>
</nav>

<div class="container">

<div class="col-sm-10">
    <router-outlet></router-outlet>
</div>

<div class="col-sm-2">
    <router-outlet name="aux"></router-outlet>
</div>

</div>

<!--
<div *ngIf="showWaitInfo" style="position:absolute; left:10; top:10; width:200px; height:50px; background-color: yellow">
    Please wait ...
</div>
-->
<!-- Fußzeile -->